
.body
  .body__contents
    .body__content1
      .task__progress
      .task__name
        薬を飲む
    .body__content2
    .body__content3
    .body__content__new
      = icon('fas', 'plus-circle', class: 'new-task')
.bottom