.side
  .side__bar
    .input__box
      %input{type: "text", class: "input__box__search", placeholder: "検索する"}
    %input{type: "submit", class: "submit-btn"}
  .side__bar__list
    .side__bar__list__name
      現在のタスク一覧
      .side__bar__list__task-name1
        薬を飲む
      .side__bar__list__task-name2  
        タスク
      .side__bar__list__task-name3
        タスク
      .side__bar__list__task-name4
        タスク
